html {
width:100%;
font-size:16px;
}

.box {
	position: relative;
	margin: 100px auto;
	width: 200px;
	height: 200px;
	font-family: 'font';
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
	transform-origin: 50% 50% 0;
	-webkit-transform-origin: 50% 50% 0;
	animation: rotate 10s infinite;
	-webkit-animation: rotate 10s infinite;
}


@-webkit-keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.cube {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 200px;
	background: orange;
	line-height: 200px;
	text-align: center;
	opacity: 0.8;
	font-size: 3rem;
	color: white;
	border: .05rem solid black;
}

.cube-in {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
	margin-top: -50px;
}


.cube-in img {
	width: 100px;
	height: 100px;
}

/*大魔方*/
.front {
    transform: rotateY(0deg) translateZ(100px);
}

.back {
    transform: translateZ(-100px) rotateY(180deg);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    transform: rotateX(90deg) translateZ(-100px);
}
/*小魔方*/
.front-in {
    transform: rotateY(0deg) translateZ(50px);
}

.back-in {
    transform: rotateY(180deg) translateZ(50px);
}

.left-in {
    transform: rotateY(-90deg) translateZ(50px);
}

.right-in {
    transform: rotateY(90deg) translateZ(50px);
}

.top-in {
    transform: rotateX(90deg) translateZ(-50px);
}

.bottom-in {
    transform: rotateX(-90deg) translateZ(-50px);
}
/*点击后*/
.box:hover .front {
    transform: rotateY(0) translateZ(150px);
}

.box:hover .back {
    transform: translateZ(-150px) rotateY(180deg);
}

.box:hover .left {
    transform: rotateY(-90deg) translateZ(150px);
}

.box:hover .right {
    transform: rotateY(90deg) translateZ(150px);
}

.box:hover .top {
    transform: rotateX(90deg) translateZ(150px);
}

.box:hover .bottom {
    transform: rotateX(90deg) translateZ(-150px);
}
	

	
	
	